<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center text-black">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="error">Vaya!</span> Parece que por aqui no hay aventuras.</p>
            <p class="lead">
                La pagina que intentas buscar no existe
              </p>
            <a routerLink="/" class="btn btn-lg btn-notfound">Volver al inicio</a>
        </div>
    </div>
</body>