<section class="hero">
<h1 class="text-center">Ser Profesional</h1>
</section>

<section id="for-professionals" class="for-professionals section">
  <div class="container">
    <div class="for-professionals-head">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="2000">{{ 'psychologists.howItWorks' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="2500">{{ 'psychologists.join' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2800">{{ 'psychologists.discover' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="for-profesionals-info">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-people"></i>
            <h3>{{ 'psychologists.directConnection' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.platformDescription' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-bar-chart"></i>
            <h3>{{ 'psychologists.effectiveTracking' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.trackingDescription' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-calendar"></i>
            <h3>{{ 'psychologists.facilitatePractice' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.practiceDescription' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA for Psychologists -->
<section class="call-action" id="action">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <div>
            <h2 class="mb-3">{{ 'psychologists.joinAsProfessional' | translate }}</h2>
          </div>
          <div>
            <p class="h5 fw-200 my-4">{{ 'psychologists.expandReach' | translate }}</p>
          </div>
          <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4">{{
            'psychologists.registerAsProfessional' | translate }}</a>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-md-block">
        <div class="cta-image d-flex justify-content-center">
          <img src=" https://moodeast.com/assets/characters/13.png " alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>
