<!DOCTYPE html>
<html lang="es">



<body>

    <div class="linktree">
        <div class="category">
            <img src="https://leviathancreativestudios.com/assets/img/logo-moodeast(1).png">
            <h2>Moodeast</h2>
            <div class="row">
                <div class="col-6"><a href="https://www.tiktok.com/@moodeasthealth" target="_blank"><i class="bi bi-tiktok m-2"></i></a></div>
                <div class="col-6"><a href="https://www.instagram.com/moodeast_health/" target="_blank"><i class="bi bi-instagram m-2"></i></a></div>
            </div>
            <div class="links">
                <a href="https://moodeast.com" target="_blank">WEB</a>
                <a href="https://moodeast.com/contactar" target="_blank" >Contactanos</a>
                <a href="https://moodeast.com/coming-soon" target="_blank">Descargar app</a>
            </div>
        </div>
        <!-- Puedes agregar más categorías y enlaces según tus necesidades -->

    </div>

</body>

</html>