<section class="hero justify-content-center">
  <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">{{ 'psychologists.title' | translate }}</h1>
</section>

<section id="for-professionals" class="for-professionals section">
  <div class="container">
    <div class="for-professionals-head">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="2000">{{ 'psychologists.howItWorks' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="2500">{{ 'psychologists.join' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2800">{{ 'psychologists.discover' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="for-profesionals-info">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-people"></i>
            <h3>{{ 'psychologists.directConnection' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.platformDescription' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-bar-chart"></i>
            <h3>{{ 'psychologists.effectiveTracking' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.trackingDescription' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-calendar"></i>
            <h3>{{ 'psychologists.facilitatePractice' | translate }}</h3>
            <ul>
              <li>{{ 'psychologists.practiceDescription' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CTA for Psychologists -->
<section class="call-action" id="action">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <div>
            <h2 class="mb-3">{{ 'psychologists.joinAsProfessional' | translate }}</h2>
          </div>
          <div>
            <p class="h5 fw-200 my-4">{{ 'psychologists.expandReach' | translate }}</p>
          </div>
          <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4">{{
            'psychologists.registerAsProfessional' | translate }}</a>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-md-block">
        <div class="cta-image d-flex justify-content-center">
          <img src=" https://moodeast.com/assets/characters/13.png " alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- caracteristicas area -->
<section id="why-psicologo" class="why-psicologo section pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 data-aos="fade-up" data-aos-duration="1600">{{ 'psychologists.whyPsychologist' | translate }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-people"></i>
          <h3>{{ 'psychologists.accessToUsers' | translate }}</h3>
          <p>{{ 'psychologists.userBaseDescription' | translate }}</p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-clock"></i>
          <h3>{{ 'psychologists.FlexibilityComfort' | translate }}</h3>
          <p>{{ 'psychologists.FlexibilityComfortDescription' | translate }}</p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-12 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Feature -->
        <div class="single-caracteristicas">
          <i class="bi bi-tools"></i>
          <h3>{{ 'psychologists.supportToolsTitle' | translate }}</h3>
          <p>{{ 'psychologists.supportToolsDescription' | translate }}</p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
    </div>
  </div>
</section>
<!--==== Final caracterisctica area ===== -->

<!-- Tratemientos customizados area -->
<section id="customize-treatments" class="customize-treatments">
  <div class="container">
    <div class="customize-treatments-head" data-aos="fade-up" data-aos-duration="2000">
      <h2>Personaliza tus Tratamientos</h2>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="single-feature">
              <i class="bi bi-people"></i>
              <h3>{{ 'psychologists.detailedProfilesTitle' | translate }}</h3>
              <p>{{ 'psychologists.detailedProfilesDescription' | translate }}</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-feature">
              <i class="bi bi-bar-chart"></i>
              <h3>{{ 'psychologists.continuousMonitoringTitle' | translate }}</h3>
              <p>{{ 'psychologists.continuousMonitoringDescription' | translate }}</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-feature">
              <i class="bi bi-book"></i>
              <h3>{{ 'psychologists.selfHelpResourcesTitle' | translate }}</h3>
              <p>{{ 'psychologists.selfHelpResourcesDescription' | translate }}</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-feature">
              <i class="bi bi-people"></i>
              <h3>{{ 'psychologists.adaptationMethodsTitle' | translate }}</h3>
              <p>{{ 'psychologists.adaptationMethodsDescription' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 d-flex justify-content-center why-psicologo-image" data-aos="fade-up"
        data-aos-duration="2000">
        <img src="https://moodeast.com/assets/mockups/mockup6.png" alt="Mockup">
      </div>
    </div>

  </div>

</section>
<!--==== Final tratamientos customizados area ===== -->


<!-- Lo mas demandado area -->
<section id="most-demanded" class="most-demanded section">
  <div class="container">
    <!-- Sección de título y descripción -->
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="2000">{{ 'psychologists.mostDemandedTitle' | translate }}</h3>
          <h2 data-aos="fade-up" data-aos-duration="2400">{{ 'psychologists.discoverTitle' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="2800">{{ 'psychologists.mostDemandedDescription' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Cards -->
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <!-- Card 1 -->
      <div id="photo1" class="col-lg-3 col-12 mb-3">
        <div class="work">
          <div class="img d-flex align-items-end justify-content-center"
            style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi4.jpg');">
            <div class="text w-100">
              <h3>{{ 'psychologists.personalizedTherapiesTitle' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div id="photo2" class="col-lg-3 col-12 mb-3">
        <div class="work">
          <div class="img d-flex align-items-end justify-content-center"
            style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi3.jpg');">
            <div class="text w-100">
              <h3>{{ 'psychologists.personalizedAttentionTitle' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div id="photo3" class="col-lg-3 col-12 mb-3">
        <div class="work">
          <div class="img d-flex align-items-end justify-content-center"
            style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi2.jpg');">
            <div class="text w-100">
              <h3>{{ 'psychologists.detailedProfilesTitleImg' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div id="photo4" class="col-lg-3 col-12">
        <div class="work">
          <div class="img d-flex align-items-end justify-content-center"
            style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi1.jpg');">
            <div class="text w-100">
              <h3>{{ 'psychologists.continuousMonitoringTitleImg' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Repetir para otras cards -->
    </div>
  </div>
</section>

<!--==== Final lo mas demandado area ===== -->

<!-- FAQ area -->
<section class="faq section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="1500">{{ 'faq.title' | translate }}</h3>
          <h2 data-aos="fade-up" data-aos-duration="1600">{{ 'faq.subtitle' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="1800">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <span class="title"><span class="serial">01</span>{{ 'faq.item6.question1' | translate }}</span>

              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item6.answer1' | translate }}</p>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="title"><span class="serial">02</span>{{ 'faq.item7.question2' | translate }}</span>
                <i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.answer2' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="title"><span class="serial">03</span>{{ 'faq.item8.question3' | translate }}</span><i
                  class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item8.answer3' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="title"><span class="serial">04</span>{{ 'faq.item9.question4' | translate }}</span>
                <i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item9.answer4' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <span class="title"><span class="serial">05</span>{{ 'faq.item10.question5' | translate }}</span>
                <i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
              <p>{{ 'faq.item10.answer5' | translate }}</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <span class="title"><span class="serial">06</span>{{ 'faq.item11.question6' | translate }}</span>
                <i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p> {{'faq.item11.answer6' | translate }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== Fin FAQ area ==== -->
