<section class="hero justify-content-center">
    <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">Psicologos</h1>
</section>

<section id="for-professionals" class="for-professionals section">
    <div class="container">
        <div class="for-professionals-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 data-aos="fade-up" data-aos-duration="2000">Cómo Funciona para Profesionales</h3>
                        <h2 data-aos="fade-up" data-aos-duration="2500">Únete a MoodEast</h2>
                        <p data-aos="fade-up" data-aos-duration="2800">Descubre cómo MoodEast puede ayudarte a crecer tu
                            práctica y ofrecer un mejor apoyo en salud
                            mental.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="for-profesionals-info">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-people"></i>
                        <h3>Conexión Directa con Pacientes</h3>
                        <ul>
                            <li>MoodEast te proporciona una plataforma para conectarte directamente con pacientes que
                                buscan
                                apoyo en salud mental. Nuestra plataforma te permite ampliar tu alcance y llegar a más
                                personas que necesitan tus servicios.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-bar-chart"></i>
                        <h3>Herramientas de Seguimiento Efectivas</h3>
                        <ul>
                            <li>Utiliza nuestras herramientas de seguimiento y evaluación para ofrecer un tratamiento
                                más
                                personalizado a tus pacientes. Obtén una visión más detallada de su progreso entre
                                sesiones
                                y ajusta tus terapias de manera más precisa.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-calendar"></i>
                        <h3>Facilitamos tu Práctica</h3>
                        <ul>
                            <li>MoodEast te proporciona las herramientas necesarias para gestionar tu práctica de manera
                                más
                                eficiente. Desde programación de citas hasta registros de pacientes, te ayudamos a
                                simplificar la administración de tu consulta.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA for Psychologists -->
<section class="call-action">
    <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col-12 col-md-7 px-5">
                <div class="py-4">
                    <div>
                        <h2 class="mb-3">Únete a MoodEast como profesional de la salud mental</h2>
                    </div>
                    <div>
                        <p class="h5 fw-200 my-4">Podras ampliar tu alcance y brindar apoyo personalizado a más personas
                            que buscan cuidar de su salud mental</p>
                    </div>
                    <a href="/register-professional" class="btn btn-lg btn-secondary py-3 px-5 mt-4">Regístrate como
                        Profesional</a>
                </div>
            </div>
            <div class="col-12 col-md-5 d-none d-md-block">
                <div class="cta-image d-flex justify-content-center">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- caracteristicas area -->
<section id="why-psicologo" class="why-psicologo section pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 data-aos="fade-up" data-aos-duration="1600">Por qué ser un psicólogo en MoodEast</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
                <!-- Single Caracteristica -->
                <div class="single-caracteristicas">
                    <i class="bi bi-people"></i>
                    <h3>Acceso a una Amplia Base de Usuarios</h3>
                    <p>Ten acceso a una amplia base de usuarios que buscan apoyo en
                        salud mental. Esto significa que puedes llegar a más personas y brindar tus servicios a quienes
                        más lo necesitan. Nuestra plataforma te conecta con usuarios de diferentes edades, antecedentes
                        y necesidades, lo que te permite ampliar tu experiencia y habilidades.</p>
                </div>
                <!-- Final Single Caracteristica -->
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
                <!-- Single Caracteristica -->
                <div class="single-caracteristicas">
                    <i class="bi bi-clock"></i>
                    <h3>Flexibilidad y Comodidad</h3>
                    <p>Añade flexibilidad de horarios y ubicación. Puedes elegir
                        cuándo y dónde atender a tus pacientes, lo que te brinda la libertad de adaptar tu práctica a
                        tus necesidades personales. Ya sea que prefieras ofrecer sesiones en línea desde la comodidad de
                        tu hogar o en un entorno de consultorio tradicional.</p>
                </div>
                <!-- Final Single Caracteristica -->
            </div>
            <div class="col-lg-4 col-md-12 col-12" data-aos="fade-up" data-aos-duration="2000">
                <!-- Single Feature -->
                <div class="single-caracteristicas">
                    <i class="bi bi-tools"></i>
                    <h3>Herramientas de Apoyo y Seguimiento</h3>
                    <p>Tenemos una variedad de herramientas de apoyo y seguimiento que
                        facilitan la atención de calidad, incluye recursos de autoayuda y seguimiento
                        personalizado para los usuarios, lo que complementa tu terapia y ayuda a tus pacientes a
                        mantener un progreso constante.</p>
                </div>
                <!-- Final Single Caracteristica -->
            </div>
        </div>
    </div>
</section>
<!--==== Final caracterisctica area ===== -->

<!-- Tratemientos customizados area -->
<section id="customize-treatments" class="customize-treatments">
    <div class="container">
        <div class="customize-treatments-head" data-aos="fade-up" data-aos-duration="2000">
            <h2>Personaliza tus Tratamientos</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-duration="2000">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="single-feature">
                            <i class="bi bi-people"></i>
                            <h3>Perfiles Detallados</h3>
                            <p>Obtén información completa sobre tus pacientes para adaptar tus terapias a sus
                                necesidades
                                específicas.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="single-feature">
                            <i class="bi bi-bar-chart"></i>
                            <h3>Seguimiento Continuo</h3>
                            <p>Realiza un seguimiento más eficaz de tus pacientes entre sesiones y ajusta sus
                                tratamientos
                                según
                                su progreso.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="single-feature">
                            <i class="bi bi-book"></i>
                            <h3>Recursos de Autoayuda</h3>
                            <p>Recomienda a tus pacientes recursos de autoayuda específicos para complementar sus
                                terapias y
                                promover un bienestar continuo.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="single-feature">
                            <i class="bi bi-people"></i>
                            <h3>Adaptación a tus Métodos</h3>
                            <p>Aplica tus enfoques terapéuticos personalizados y métodos de
                                tratamiento de manera efectiva. Brinda una atención más individualizada a tus pacientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex justify-content-center why-psicologo-image" data-aos="fade-left"
                data-aos-duration="2000">
                <img src="https://leviathancreativestudios.com/assets/img/psicologi.jpg" alt="Mockup">
            </div>
        </div>
    </div>
</section>
<!--==== Final tratamientos customizados area ===== -->


<!-- Lo mas demandado area -->
<section id="most-demanded" class="most-demanded section">
    <div class="container">
        <!-- Sección de título y descripción -->
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 data-aos="fade-up" data-aos-duration="2000">Lo Más Demandado por Pacientes</h3>
                    <h2 data-aos="fade-up" data-aos-duration="2400">Descubre lo que los pacientes buscan en MoodEast
                    </h2>
                    <p data-aos="fade-up" data-aos-duration="2800">Los pacientes valoran las características que
                        ofrecemos para mejorar su salud mental y bienestar.
                        Aquí tienes lo que más demandan.</p>
                </div>
            </div>
        </div>

        <!-- Cards -->
        <div  class="row" data-aos="fade-up" data-aos-duration="2000">
            <!-- Card 1 -->
            <div id="photo1" class="col-lg-3 col-12">
                <div class="work">
                    <div class="img d-flex align-items-end justify-content-center"
                        style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi4.jpg');">
                        <div class="text w-100">
                            <h3>Terapias Personalizadas</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div id="photo2" class="col-lg-3 col-12">
                <div  class="work">
                    <div class="img d-flex align-items-end justify-content-center"
                        style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi3.jpg');">
                        <div class="text w-100">
                            <h3>Atención Personalizada</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div  id="photo3" class="col-lg-3 col-12">
                <div  class="work">
                    <div class="img d-flex align-items-end justify-content-center"
                        style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi2.jpg');">
                        <div class="text w-100">
                            <h3>Perfiles Detallados</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div  id="photo4"class="col-lg-3 col-12">
                <div  class="work">
                    <div class="img d-flex align-items-end justify-content-center"
                        style="background-image: url('https://leviathancreativestudios.com/assets/img/psicologi1.jpg');">
                        <div class="text w-100">
                            <h3>Seguimiento Continuo</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Repetir para otras cards -->
        </div>
    </div>
</section>

<!--==== Final lo mas demandado area ===== -->

<!-- FAQ area -->
<section class="faq section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 data-aos="fade-up" data-aos-duration="1500">Faq</h3>
                    <h2 data-aos="fade-up" data-aos-duration="1600">Preguntas frequentes</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="title"><span class="serial">01</span>¿Cómo funciona MoodEast para
                                    profesionales de la salud mental?</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>MoodEast proporciona a los psicólogos y profesionales de la salud mental una
                                    plataforma integral para conectar con pacientes, ofrecer tratamiento personalizado y
                                    acceder a herramientas de seguimiento avanzadas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="title"><span class="serial">02</span> ¿Cómo puedo registrarme como
                                    psicólogo en MoodEast?</span><i class="lni lni-plus"></i>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Para registrarte como psicólogo en MoodEast, simplemente visita nuestra página de
                                    registro y sigue los pasos para crear tu perfil profesional. Una vez aprobado,
                                    podrás comenzar a atender a pacientes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="title"><span class="serial">03</span>¿Qué ventajas ofrece MoodEast a los
                                    psicólogos?</span><i class="lni lni-plus"></i>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> MoodEast ofrece a los psicólogos acceso a una amplia base de pacientes potenciales,
                                    herramientas de gestión de citas, recursos de tratamiento y la posibilidad de
                                    colaborar con otros profesionales de la salud mental.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="title"><span class="serial">04</span>¿Puedo personalizar mis tratamientos
                                    para cada paciente?</span><i class="lni lni-plus"></i>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> Sí, MoodEast te permite personalizar tus tratamientos para adaptarlos a las
                                    necesidades únicas de cada paciente. Puedes utilizar herramientas de seguimiento y
                                    recursos específicos para lograr resultados más efectivos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span class="title"><span class="serial">05</span>¿Cómo gestiono mis citas y horarios
                                    como psicólogo en MoodEast?</span><i class="lni lni-plus"></i>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>MoodEast ofrece una función de gestión de citas que te permite programar, reprogramar
                                    y cancelar citas de manera sencilla. También puedes establecer tus propios horarios
                                    de disponibilidad.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <span class="title"><span class="serial">06</span>¿Cómo puedo recibir pagos por mis
                                    servicios como psicólogo en MoodEast?</span><i class="lni lni-plus"></i>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>MoodEast ofrece opciones de procesamiento de pagos seguras para que puedas recibir
                                    honorarios por tus servicios. Los pagos se realizan de manera rápida y conveniente a
                                    través de la plataforma.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Fin FAQ area ==== -->