<section class="hero justify-content-center">
    <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">Mejorar tu Salud Mental</h1>
</section>

<!-- Sección "Mejorar Salud Mental" -->
<section id="improve-mental-health" class="improve-mental-health section">
    <div class="container">
        <div class="improve-mental-health-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 data-aos="fade-up" data-aos-duration="2000">como Mejorar tu Salud Mental</h3>
                        <h2 data-aos="fade-up" data-aos-duration="2400">Nuestro Compromiso con tu Bienestar</h2>
                        <p data-aos="fade-up" data-aos-duration="2800">Descubre cómo MoodEast puede ayudarte a mejorar
                            tu salud mental y bienestar.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Apoyo Profesional -->
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="single-caracteristicas">
                        <i class="bi bi-heart"></i>
                        <h3>Apoyo Profesional</h3>
                        <p>Conecta con psicólogos y profesionales de la salud mental certificados que están disponibles
                            para apoyarte las 24 horas del día.</p>
                    </div>
                </div>

                <!-- Recursos de Autoayuda -->
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="single-caracteristicas">
                        <i class="bi bi-lightbulb"></i>
                        <h3>Recursos de Autoayuda</h3>
                        <p>Descubre una variedad de recursos de autoayuda disponibles en la plataforma. Esto puede
                            incluir ejercicios de relajación, técnicas de gestión del estrés, consejos para mejorar el
                            bienestar emocional, etc.</p>
                    </div>
                </div>

                <!-- Seguimiento Personalizado -->
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="single-caracteristicas">
                        <i class="bi bi-check-circle"></i>
                        <h3>Seguimiento Personalizado</h3>
                        <p>Explica cómo MoodEast ofrece seguimiento personalizado a los usuarios. Puedes hablar sobre
                            las herramientas y características que permiten a los usuarios evaluar su progreso y recibir
                            recomendaciones adaptadas a sus necesidades.</p>
                    </div>
                </div>

                <!-- Comunidad de Apoyo -->
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="single-caracteristicas">
                        <i class="bi bi-people"></i>
                        <h3>Comunidad de Apoyo</h3>
                        <p>Resalta la importancia de la comunidad en la mejora de la salud mental. Habla sobre cómo los
                            usuarios pueden unirse a una comunidad de personas con intereses similares para compartir
                            experiencias, consejos y brindarse apoyo mutuo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="for-professionals" class="for-professionals section">
    <div class="container">
        <div class="for-professionals-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 data-aos="fade-up" data-aos-duration="2000">Porque cuidar mi mente</h3>
                        <h2 data-aos="fade-up" data-aos-duration="2500">Beneficios de la Salud Mental</h2>
                        <p data-aos="fade-up" data-aos-duration="2800">Descubre cómo cuidar tu salud mental puede
                            mejorar tu calidad de vida en general.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="for-profesionals-info ">
            <div class="row">
                <div class="col-lg-3">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-people"></i>
                        <h3>Bienestar Emocional</h3>
                        <ul>
                            <li>La salud mental adecuada conduce a una mayor estabilidad emocional y una mayor capacidad
                                para
                                enfrentar desafíos emocionales.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-bar-chart"></i>
                        <h3>Relaciones Saludables</h3>
                        <ul>
                            <li>Una buena salud mental puede mejorar tus relaciones interpersonales y fortalecer tus
                                conexiones
                                con los demás.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-calendar"></i>
                        <h3>Resiliencia</h3>
                        <ul>
                            <li>La salud mental sólida te hace más resistente ante el estrés y las adversidades, lo que
                                te
                                permite recuperarte más rápido.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                        <i class="bi bi-people"></i>
                        <h3>Comunidad de Apoyo</h3>
                        <ul>
                            <li>Cuidar tu salud mental puede conducir a un mayor rendimiento en el trabajo, los estudios
                                y otras áreas de la vida.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-5">
            <div class="button" data-aos="fade-up" data-aos-duration="1500">
                <a href="" class="btn btn-lg btn-primary py-3 px-5">Prueba MoodEast</a>
            </div>
        </div>
    </div>
</section>

<!-- Call to action area -->
<section class="call-action section">
    <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col-12 col-md-7 px-5">
                <div class="py-4">
                    <div>
                        <h2 class="mb-3">Prueba MoodEast completamente gratis
                            <span style="color:var(--secondary-color);">30 días</span>
                        </h2>
                    </div>
                    <div>
                        <p class="h5 fw-200 my-4">Con MoodEsat puedes plataforma integral de salud mental diseñada
                            brindar apoyo, recursos y mucho mas</p>
                    </div><a href="/register" class="btn btn-lg btn-secondary py-3 px-5 mt-4">Prueba Gratis</a>
                </div>
            </div>
            <div class="col-12 col-md-5 d-none d-lg-block">
                <div class="cta-image d-flex justify-content-center">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Information area -->
<section id="information" class="information">
    <div class="container">
        <div class="info-one py-3 pt-5">
            <div class="row align-items-center">

                <div class="info-text">
                    <div class="single-information" data-aos="fade-right" data-aos-duration="1000">
                        <i class="bi bi-heart-pulse"></i>
                    </div>
                    <h2 data-aos="fade-right" data-aos-duration="1150"> Practica la Atención Plena (Mindfulness)
                    </h2>
                    <p data-aos="fade-right" data-aos-duration="1300">La atención plena es una técnica que te ayuda
                        a estar presente en el momento actual y a reducir el estrés. Dedica unos minutos al día para
                        meditar o simplemente prestar atención plena a tus actividades cotidianas. Esto puede
                        mejorar tu claridad mental y reducir la ansiedad.</p>
                </div>

            </div>
        </div>
        <div class="info-one style2  py-3 ">
            <div class="row align-items-center">

                <div class="info-text">
                    <div class="single-information" data-aos="fade-left" data-aos-duration="1150">
                        <i class="bi bi-search"></i>
                    </div>
                    <h2 data-aos="fade-left" data-aos-duration="1300">Establece una Rutina de Sueño Consistente</h2>
                    <p data-aos="fade-left" data-aos-duration="1400">El sueño de calidad es esencial para el
                        bienestar mental. Intenta establecer una rutina de sueño consistente, y asegúrate de dormir
                        lo suficiente cada noche. Un buen descanso puede mejorar tu estado de ánimo y tu capacidad
                        para enfrentar el estrés.</p>
                </div>
            </div>
        </div>
        <div class="info-one py-3 pb-5">
            <div class="row align-items-center">
                <div class="info-text">
                    <div class="single-information" data-aos="fade-right" data-aos-duration="1000">
                        <i class="bi bi-heart-pulse"></i>
                    </div>
                    <h2 data-aos="fade-right" data-aos-duration="1150">Mantén una Dieta Saludable y Activa</h2>
                    <p data-aos="fade-right" data-aos-duration="1300"> La nutrición y la actividad física juegan un
                        papel importante en la salud mental. Intenta mantener una dieta equilibrada y asegúrate de
                        realizar ejercicio regularmente. La actividad física libera endorfinas, lo que puede mejorar
                        tu estado de ánimo y tu bienestar general.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==== Final information area ===== -->

<!-- Call to action 2 area -->
<section class="call-action section">
    <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">

            <div class="col-12 col-md-5 d-none d-lg-block">
                <div class="cta-image d-flex justify-content-center">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/4.png" alt="Mockup">
                </div>
            </div>
            <div class="col-12 col-md-7 px-5">
                <div class="py-4">
                    <div>
                        <h2 class="mb-3">Comienza Tu Viaje hacia el
                            <span style="color:var(--secondary-color);"> Bienestar Mental</span>
                        </h2>
                    </div>
                    <div>
                        <p class="h5 fw-200 my-4">Únete a la Comunidad de MoodEast y Prioriza Tu Salud Mental Hoy Mismo</p>
                    </div><a href="/register" class="btn btn-lg btn-secondary py-3 px-5 mt-4">Únete Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>