<section id="title" class="hero justify-content-center">
  <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">{{ 'mejoraSalud.improveMentalHealth' | translate
    }}</h1>
</section>

<!-- Sección "Mejorar Salud Mental" -->
<section id="improve-mental-health" class="improve-mental-health section">
  <div class="container">
    <div class="improve-mental-health-head">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="2000">{{ 'mejoraSalud.howToImprove' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="2400">{{ 'mejoraSalud.ourCommitment' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2800">{{ 'mejoraSalud.discoverMoodEast' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Apoyo Profesional -->
        <div class="col-lg-6 col-md-12 col-12" id="profesional">
          <div class="single-caracteristicas">
            <i class="bi bi-heart"></i>
            <h3>{{ 'mejoraSalud.professionalSupport' | translate }}</h3>
            <p>{{ 'mejoraSalud.connectWithProfessionals' | translate }}</p>
          </div>
        </div>

        <!-- Recursos de Autoayuda -->
        <div class="col-lg-6 col-md-12 col-12" id="ayuda">
          <div class="single-caracteristicas">
            <i class="bi bi-lightbulb"></i>
            <h3>{{ 'mejoraSalud.selfHelpResources' | translate }}</h3>
            <p>{{ 'mejoraSalud.discoverResources' | translate }}</p>
          </div>
        </div>

        <!-- Seguimiento Personalizado -->
        <div class="col-lg-6 col-md-12 col-12" id="personalizado">
          <div class="single-caracteristicas">
            <i class="bi bi-check-circle"></i>
            <h3>{{ 'mejoraSalud.personalizedTracking' | translate }}</h3>
            <p>{{ 'mejoraSalud.explainMoodEast' | translate }}</p>
          </div>
        </div>

        <!-- Comunidad de Apoyo -->
        <div class="col-lg-6 col-md-12 col-12" id="apoyo">
          <div class="single-caracteristicas">
            <i class="bi bi-people"></i>
            <h3>{{ 'mejoraSalud.supportCommunity' | translate }}</h3>
            <p>{{ 'mejoraSalud.highlightCommunity' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="for-professionals" class="for-professionals section">
  <div class="container">
    <div class="for-professionals-head">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="2000">{{ 'mejoraSalud.whyCareMind' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="2500">{{ 'mejoraSalud.mentalHealthBenefits' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2800">{{ 'mejoraSalud.discoverCare' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="for-profesionals-info ">
      <div class="row">
        <div class="col-lg-3">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-people"></i>
            <h3>{{ 'mejoraSalud.emotionalWellbeing' | translate }}</h3>
            <ul>
              <li>{{ 'mejoraSalud.mentalHealthLeads' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-bar-chart"></i>
            <h3>{{ 'mejoraSalud.healthyRelationships' | translate }}</h3>
            <ul>
              <li>{{ 'mejoraSalud.goodMentalHealth' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-calendar"></i>
            <h3>{{ 'mejoraSalud.resilience' | translate }}</h3>
            <ul>
              <li>{{ 'mejoraSalud.solidMentalHealth' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
            <i class="bi bi-people"></i>
            <h3>{{ 'mejoraSalud.supportCommunity2' | translate }}</h3>
            <ul>
              <li>{{ 'mejoraSalud.careMentalHealth' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Call to action area -->
<section id="gratis" class="call-action section">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <div>
            <h2 class="mb-3">{{ 'mejoraSalud.tryMoodEast' | translate }}
              <span style="color:var(--secondary-color);">{{ 'mejoraSalud.freeTrial' | translate }}</span>
            </h2>
          </div>
          <div>
            <p class="h5 fw-200 my-4">{{ 'mejoraSalud.withMoodEast' | translate }}</p>
          </div>
          <a href="/register" class="btn btn-lg btn-secondary py-3 px-5 mt-4">{{ 'mejoraSalud.freeTrialButton' |
            translate }}</a>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-lg-block">
        <div class="cta-image d-flex justify-content-center">
          <img src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Information area -->
<section id="information" class="information">
  <div class="container">
    <div class="info-one py-3 pt-5">
      <div class="row align-items-center">

        <div class="info-text">
          <div class="single-information" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-heart-pulse"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'mejoraSalud.practiceMindfulness' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'mejoraSalud.mindfulnessDescription' | translate }}</p>
        </div>

      </div>
    </div>
    <div class="info-one style2  py-3 ">
      <div class="row align-items-center">

        <div class="info-text">
          <div class="single-information" data-aos="fade-up" data-aos-duration="1150">
            <i class="bi bi-search"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1300">{{ 'mejoraSalud.establishSleepRoutine' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1400">{{ 'mejoraSalud.sleepQuality' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="info-one py-3 pb-5">
      <div class="row align-items-center">
        <div class="info-text">
          <div class="single-information" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-heart-pulse"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'mejoraSalud.maintainHealthyDiet' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'mejoraSalud.nutritionPhysicalActivity' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==== Final information area ===== -->

<!-- Call to action 2 area -->
<section class="call-action section">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">

      <div class="col-12 col-md-5 d-none d-lg-block">
        <div class="cta-image d-flex justify-content-center">
          <img src="https://leviathancreativestudios.com/assets/img/characters/4.png" alt="Mockup">
        </div>
      </div>
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <div>
            <h2 class="mb-3">{{ 'mejoraSalud.startJourney' | translate }}
              <span style="color:var(--secondary-color);">{{ 'mejoraSalud.mentalWellbeing' | translate }}</span>
              </h2>
          </div>
          <div>
            <p class="h5 fw-200 my-4">{{ 'mejoraSalud.joinCommunity' | translate }}</p>
          </div>
          <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4">{{ 'mejoraSalud.joinNow' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
