<section id="header" class="header d-flex align-items-center justify-content-center">
  <div class="text-center container">
    <h1>{{ 'equipo.meetTheTeam' | translate }} <b class="title-h1">MoodEast</b></h1>
    <p>{{ 'equipo.teamDescription' | translate }}</p>
  </div>
</section>

<section id="fundadores" class="fundadores d-flex align-items-center justify-content-center">
  <div class="text-center container">
    <h2>{{ 'equipo.founders' | translate }}</h2>

    <div class="d-flex flex-column flex-md-row justify-content-around">
      <div>
        <img src="https://leviathancreativestudios.com/assets/img/team/team-2.jpg" class="mb-3 profile-photo"
            alt="Avatar" />

        <h5 class="mb-2"><strong>Alex Lopez Carranza</strong></h5>
        <p class="text-muted">{{ 'equipo.cofounder' | translate }} <span class="badge bg-primary">COO</span></p>
      </div>

      <div>
        <img src="https://leviathancreativestudios.com/assets/img/team/team-1.jpg" class="mb-3 profile-photo"
             alt="Avatar" />

        <h5 class="mb-2"><strong>Adrià Castany Carranza</strong></h5>
        <p class="text-muted">{{ 'equipo.cofounder' | translate }} <span class="badge bg-warning">CEO</span></p>
      </div>

      <div>
        <img src="https://leviathancreativestudios.com/assets/img/team/team-3.jpg" class="mb-3 profile-photo"
             alt="Avatar" />

        <h5 class="mb-2"><strong>Francesc Horta Pi</strong></h5>
        <p class="text-muted">{{ 'equipo.cofounder' | translate }} <span class="badge bg-success">CMO</span></p>
      </div>
    </div>
  </div>
</section>

<section id="equipo">
    <div class="row">
        <div class="col-12 col-md-6 team-img">
            <img src="https://leviathancreativestudios.com/assets/img/why-us.jpg" alt="Equipo trabajando">
        </div>

        <div class="col-12 col-md-6 team-img">
            <img src="https://leviathancreativestudios.com/assets/img/footer-bg.jpg" alt="Equipo viendo estadisticas">
        </div>

    </div>

</section>
