<!-- Sección Hero -->
<section class="hero">

    <h1 data-aos="fade-up" data-aos-duration="1500">{{'bases.ourBases' | translate }}</h1>
</section>

<!-- Sección de Características -->
<section id="caracteristicas" class="caracteristicas section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="1400">{{ 'bases.bases' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="1500">{{ 'bases.features' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="1600">
              {{ 'bases.baseDescription' | translate }}
            </p>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="2000">
              <!-- Single Caracteristica -->
              <div class="single-caracteristicas">
                <i class="bi bi-house-heart-fill"></i>
                <h3>{{ 'bases.accessibility' | translate }}</h3>
                <p>{{ 'bases.accessibilityDescription' | translate }}</p>
              </div>
              <!-- Final Single Caracteristica -->
            </div>

            <div class="col-lg-4  col-12" data-aos="fade-up" data-aos-duration="2000">
                <!-- Single Caracteristica -->
                <div class="single-caracteristicas">
                  <i class="bi bi-house-heart-fill"></i>
                  <h3>{{ 'bases.quality' | translate }}</h3>
                  <p>{{ 'bases.qualityDescription' | translate }}</p>
                </div>
                <!-- Final Single Caracteristica -->
            </div>

            <div class="col-lg-4  col-12" data-aos="fade-up" data-aos-duration="2000">
                <!-- Single Caracteristica -->
                <div class="single-caracteristicas">
                  <i class="bi bi-house-heart-fill"></i>
                  <h3>{{ 'bases.personalization' | translate }}</h3>
                  <p>{{ 'bases.personalizationDescription' | translate }}</p>
                </div>
                <!-- Final Single Caracteristica -->
            </div>
        </div>
    </div>
</section>

<section class="nuestros-logros" id="logros">
    <div class="container section" data-aos="fade-up" data-aos-duration="1500">
        <div class="row ">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12 pb-5">
              <div class="title text-center">
                <h2>{{ 'bases.knowOurGoals' | translate }}</h2>
                <p>{{ 'bases.ourGoalsAreClear' | translate }}</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="row text-center">
                  <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-achievement">
                      <i class="bi bi-balloon-heart"></i>
                      <p>{{ 'bases.improveMentalWellbeing' | translate }}</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-achievement">
                      <i class="bi bi-award"></i>
                      <p>{{ 'bases.quality' | translate }}</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-achievement">
                      <i class="bi bi-brush"></i>
                      <p>{{ 'bases.personalization' | translate }}</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Ética de MoodEast -->
<section id="etica-moodeast" class="caracteristicas ">
    <div class="etica-color">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up" data-aos-duration="1500">{{ 'bases.moodEastEthics' | translate }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
                    <!-- Single Caracteristica -->
                    <div class="single-caracteristicas__etica">
                      <i class="bi bi-lock-fill"></i>
                      <h3>{{ 'bases.confidentiality' | translate }}</h3>
                      <p>{{ 'bases.confidentialityDescription' | translate }}</p>
                    </div>
                    <!-- Final Single Caracteristica -->
                </div>

                <div class="col-md-6 d-none d-md-block img-fluid" data-aos="fade-up" data-aos-duration="2000">
                    <img id="imgEtica" src=" https://moodeast.com/assets/characters/7.png ">
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-6 d-none d-md-block img-fluid" data-aos="fade-up" data-aos-duration="2000">
                    <img  id="imgEtica" src="https://moodeast.com/assets/characters/16.png ">
                </div>

                <div class="col-lg-6 " data-aos="fade-up" data-aos-duration="2000">
                    <!-- Single Caracteristica -->
                    <div class="single-caracteristicas__etica">
                      <i class="bi bi-heart-fill"></i>
                      <h3>{{ 'bases.respect' | translate }}</h3>
                      <p>{{ 'bases.respectDescription' | translate }}</p>
                    </div>
                    <!-- Final Single Caracteristica -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
                    <!-- Single Caracteristica -->
                    <div class="single-caracteristicas__etica">
                      <i class="bi bi-person-arms-up"></i>
                      <h3>{{ 'bases.integrity' | translate }}</h3>
                      <p>{{ 'bases.integrityDescription' | translate }}</p>
                    </div>
                    <!-- Final Single Caracteristica -->
                </div>
                <div class="col-md-6 d-none d-md-block img-fluid" data-aos="fade-up" data-aos-duration="2000">
                    <img  id="imgEtica" src="https://moodeast.com/assets/characters/18.png ">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Final Sección de Ética de MoodEast -->
<!-- Sección de Nuestro Trabajo -->
<section id="nuestro-trabajo " class="nuestro-trabajo section">
    <div class="container">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2>{{ 'bases.ourWork' | translate }}</h2>
          <p>{{ 'bases.ourWorkDescription' | translate }}</p>
        </div>

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="icon-box mt-5 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                    <div class="single-caracteristicas__2">
                      <i class="bi bi-people-fill"></i>
                      <p>{{ 'bases.connectUsersProfessionals' | translate }}</p>

                      <div class="icon-box mt-5 aos-init aos-animate">
                        <i class="bi bi-folder"></i>
                        <p>{{ 'bases.provideResources' | translate }}</p>
                      </div>
                      <div class="icon-box mt-5 aos-init aos-animate">
                        <i class="bi bi-arrow-repeat"></i>
                        <p>{{ 'bases.promoteCollaboration' | translate }}</p>
                      </div>
                      <div class="icon-box mt-5 aos-init aos-animate">
                        <i class="bi bi-chat-right-text-fill"></i>
                        <p>{{ 'bases.contributePublicConversation' | translate }}</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 d-flex align-items-center" data-aos="fade-up"
                data-aos-duration="2000">
                <img src="https://leviathancreativestudios.com/assets/img/mockup.png" alt="Mockup">
            </div>
        </div>
    </div>
</section>

<!-- Área de Llamada a la Acción -->
<section class="call-action " id="call-action">
    <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col-12 col-md-7 px-5">
                <div class="py-4">
                  <div>
                    <h2 class="mb-3">{{ 'whyMoodEast.tryMoodEast' | translate }}
                      <span style="color:var(--secondary-color);">{{'whyMoodEast.freeFor30Days' | translate }}</span>
                    </h2>
                  </div>
                  <div>
                    <p class="h5 fw-200 my-4">{{ 'bases.moodEastDescription' | translate }}</p>
                  </div>
                  <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4">{{ 'bases.tryFreeButton' | translate }}</a>
                </div>
            </div>
            <div class="col-12 col-md-5 d-none d-lg-block">
                <div class="cta-image d-flex justify-content-center">
                    <img id="call" src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== Fin Área de Llamada a la Acción ==== -->
