<!-- == Hero Section == -->
<section class="hero justify-content-center">
    <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">¿Por qué MoodEast?</h1>
</section>

<!-- == Objective Section == -->
<section id="obective" class="obective section">
    <div class="container">
        <div class="obective-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 data-aos="fade-up" data-aos-duration="1800">Objetivo</h3>
                        <h2 data-aos="fade-up" data-aos-duration="1900">Nuestra Compromiso con tu Bienestar</h2>
                        <p data-aos="fade-up" data-aos-duration="2200">Descubre las razones por las que MoodEast es tu
                            compañero ideal para la salud mental y el
                            bienestar.</p>
                    </div>
                </div>
            </div>
            <div class="obective-info">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info" data-aos="fade-up" data-aos-duration="1800">
                            <i class="bi bi-person"></i>
                            <h3>Acceso a Profesionales de la Salud Mental</h3>
                            <ul>
                                <li>Conecta con profesionales de la salud mental certificados y experimentados que están
                                    aquí para apoyarte las 24 horas del día.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                            <i class="bi bi-heart"></i>
                            <div>
                                <h3>Bienestar Personalizado</h3>
                                <ul>
                                    <li>Descubre contenido y actividades de bienestar seleccionados especialmente para
                                        tus necesidades y objetivos únicos.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info" data-aos="fade-up" data-aos-duration="2300">
                            <i class="bi bi-shield"></i>

                            <h3>Apoyo Integral para la Salud Mental</h3>
                            <ul>
                                <li>Experimenta un apoyo integral para la salud mental con acceso a profesionales,
                                    recursos y asistencia en caso de crisis.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- == Objective Section == -->
<section id="tech-mision" class="tech-mision ">
    <div class="container">
        <!-- Punto 1: Nuestra Misión -->
        <div class="row d-flex align-items-center py-5">
            <div class="col-md-8">
                <h2 data-aos="fade-right" data-aos-duration="900">Nuestra Misión</h2>
                <p data-aos="fade-right" data-aos-duration="1200">En MoodEast, nuestra misión es simple pero poderosa:
                    mejorar la salud mental y el bienestar emocional
                    de las personas. Creemos en un enfoque integral que combine la experiencia de profesionales de la
                    salud mental con la comodidad de la tecnología digital.</p>
                <div class="button" data-aos="fade-right" data-aos-duration="1500">
                    <a href="" class="btn btn-lg btn-primary">Ver Impacto</a>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img src="https://leviathancreativestudios.com/assets/img/characters/4.png" alt="Imagen 1"
                    class="img-techmision" data-aos="fade-left" data-aos-duration="1500">
            </div>
        </div>

        <!-- Punto 2: Tecnología Innovadora -->
        <div class="row d-flex align-items-center py-5">
            <div class="col-md-8 order-md-2">
                <h2 data-aos="fade-left" data-aos-duration="900">Tecnología Innovadora</h2>
                <p data-aos="fade-left" data-aos-duration="1200">En MoodEast, estamos en la vanguardia de la tecnología
                    para la salud mental. Nuestra plataforma
                    utiliza tecnología innovadora para conectar a pacientes y profesionales de la salud mental de manera
                    efectiva y conveniente.</p>
                <div class="button" data-aos="fade-left" data-aos-duration="1500">
                    <a href="" class="btn btn-lg btn-primary">Ver APP</a>
                </div>
            </div>
            <div class="col-md-4 order-md-1 d-flex justify-content-center">
                <img src="https://leviathancreativestudios.com/assets/img/characters/9.png" alt="Imagen 2"
                    class="img-techmision" data-aos="fade-right" data-aos-duration="1500">
            </div>
        </div>
    </div>


</section>

<!-- == Beneficios Section == -->
<section id="benefits" class="benefits section">
    <div class="container pb-5" data-aos="fade-up" data-aos-duration="1500">
        <h2 class="py-4">Beneficios como Pacientes</h2>
        <div class="row">

            <div class="col-12 col-lg-8 pe-5 pt-4">
                <div class="info-text">
                    <div class="single-information" id="patient-icon" data-aos="fade-right" data-aos-duration="1000">
                        <i class="bi bi-heart-pulse"></i>
                    </div>
                    <h2 data-aos="fade-right" data-aos-duration="1150">Recursos de Autoayuda</h2>
                    <p data-aos="fade-right" data-aos-duration="1300">En MoodEast encontrarás artículos, ejercicios de
                        relajación, meditaciones
                        guiadas y consejos para gestionar el estrés y la ansiedad. Puedes explorar estos recursos en tu
                        propio tiempo y ritmo, lo que te brinda herramientas adicionales para mejorar tu salud mental y
                        bienestar.</p>
                </div>
                <div class="info-text">
                    <div class="single-information" id="patient-icon" data-aos="fade-right" data-aos-duration="1000">
                        <i class="bi bi-file-earmark-text"></i>
                    </div>
                    <h2 data-aos="fade-right" data-aos-duration="1150">Seguimiento Personalizado</h2>
                    <p data-aos="fade-right" data-aos-duration="1300">Puedes realizar un seguimiento de tu bienestar
                        emocional de manera personalizada. Nuestra plataforma te permite registrar tus estados de ánimo,
                        emociones y actividades diarias.</p>
                </div>

            </div>
            <div class="col-12 side p-4 col-lg-4 " id="patient">
                <img src="https://leviathancreativestudios.com/assets/img/characters/6.png" alt="Imagen 2"
                    class="img-patient d-none d-lg-block" data-aos="fade-left" data-aos-duration="1500">
                <p class="text-white fw-bold p-2 d-xl-none">MoodEast significa acceso rápido a la ayuda que
                    necesitas.Dar apoyo
                    personalizado y seguimiento de tu progreso para que puedas cuidar de tu salud mental.</p>
                <div class="button">
                    <a href="" class="btn btn-lg btn-secondary w-100">Nuestras bases</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="1500">
        <h2 class="py-4">Beneficios como Profesional de la salud mental</h2>
        <div class="row">
            <div class="col-12 side p-4 col-lg-4 order-lg-1 order-2" id="profesional">
                <img src="https://leviathancreativestudios.com/assets/img/characters/8.png" alt="Imagen 2"
                    class="img-patient d-none d-lg-block" data-aos="fade-right" data-aos-duration="1500">
                <p class="text-white fw-bold p-2 d-xl-none">Para profesionales de la salud mental, ofrecemos una
                    plataforma para llegar a más pacientes y brindar servicios de manera eficiente. Nuestra tecnología
                    facilita la gestión de citas y el seguimiento de pacientes.</p>
                <div class="button">
                    <a href="" class="btn btn-lg btn-primary w-100">Saber más</a>
                </div>
            </div>

            <div class="col-12 col-lg-8 ps-5 pt-4 order-lg-2 order-1">
                <div class="info-text">
                    <div class="single-information" id="profesional-icon" data-aos="fade-left" data-aos-duration="1000">
                        <i class="bi bi-people"></i>
                    </div>
                    <h2 data-aos="fade-left" data-aos-duration="1150">Conexión con una Amplia Red de Pacientes</h2>
                    <p data-aos="fade-left" data-aos-duration="1300">MoodEast te ofrece la oportunidad de conectarte con
                        una amplia red de pacientes potenciales que buscan servicios de salud mental. Nuestra plataforma
                        te permite expandir tu base de pacientes y llegar a personas que necesitan tu experiencia y
                        apoyo.</p>
                </div>
                <div class="info-text">
                    <div class="single-information" id="profesional-icon" data-aos="fade-left" data-aos-duration="1000">
                        <i class="bi bi-bar-chart"></i>
                    </div>
                    <h2 data-aos="fade-left" data-aos-duration="1150">Herramientas de Seguimiento y Evaluación</h2>
                    <p data-aos="fade-left" data-aos-duration="1300">MoodEast proporciona herramientas avanzadas de
                        seguimiento y evaluación para facilitar tu trabajo con pacientes. Puedes realizar un seguimiento
                        efectivo del progreso de tus pacientes, evaluar su bienestar y personalizar tu enfoque
                        terapéutico para brindar un mejor cuidado de la salud mental.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Call to action area -->
<section class="call-action">
    <div class="container py-4" data-aos="fade-up"
    data-aos-duration="1500">
        <div class="row">
            <div class="col-12 col-md-7 px-5">
                <div class="py-4">
                    <div>
                        <h2 class="mb-3">Prueba MoodEast completamente gratis
                            <span style="color:var(--secondary-color);">30 días</span></h2>
                    </div>
                    <div>
                        <p class="h5 fw-200 my-4">Con MoodEsat puedes plataforma integral de salud mental diseñada brindar apoyo, recursos y mucho mas</p>
                    </div><a href="/register" class="btn btn-lg btn-secondary py-3 px-5 mt-4">Prueba Gratis</a>
                </div>
            </div>
            <div class="col-12 col-md-5 d-none d-lg-block">
                <div class="cta-image d-flex justify-content-center">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup">
                </div>
            </div>
        </div>
    </div>
</section>