<!-- == Hero Section == -->
<section class="hero justify-content-center">
  <h1 class="text-center" data-aos="fade-up" data-aos-duration="2000">{{ 'whyMoodEast.title' | translate }}</h1>
</section>

<!-- == Objective Section == -->
<section id="obective" class="obective section">
  <div class="container">
    <div class="obective-head">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 data-aos="fade-up" data-aos-duration="1800">{{ 'whyMoodEast.objective' | translate }}</h3>
            <h2 data-aos="fade-up" data-aos-duration="1900">{{ 'whyMoodEast.ourCommitment' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2200">{{ 'whyMoodEast.discoverReasons' | translate }}</p>
          </div>
        </div>
        <div class="obective-info">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
              <div class="single-info" data-aos="fade-up" data-aos-duration="1800">
                <i class="bi bi-person"></i>
                <h3>{{ 'whyMoodEast.accessToProfessionals' | translate }}</h3>
                <ul>
                  <li>{{ 'whyMoodEast.connectWithProfessionals' | translate }}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <div class="single-info" data-aos="fade-up" data-aos-duration="2000">
                <i class="bi bi-heart"></i>
                <div>
                  <h3>{{ 'whyMoodEast.personalizedWellbeing' | translate }}</h3>
                  <ul>
                    <li>{{ 'whyMoodEast.discoverContent' | translate }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <div class="single-info" data-aos="fade-up" data-aos-duration="2300">
                <i class="bi bi-shield"></i>

                <h3>{{ 'whyMoodEast.comprehensiveSupport' | translate }}</h3>
                <ul>
                  <li>{{ 'whyMoodEast.experienceSupport' | translate }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- == Objective Section == -->
<section id="tech-mision" class="tech-mision ">
  <div class="container">
    <!-- Punto 1: Nuestra Misión -->
    <div class="row d-flex align-items-center py-5">
      <div class="col-md-8">
        <h2 data-aos="fade-up" data-aos-duration="900">{{ 'whyMoodEast.ourMission' | translate }}</h2>
        <p data-aos="fade-up" data-aos-duration="1200">{{ 'whyMoodEast.missionStatement' | translate }}</p>
        <div class="button" data-aos="fade-up" data-aos-duration="1500">
          <a href="/impacto" class="btn btn-lg btn-primary">{{ 'whyMoodEast.viewImpact' | translate }}</a>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="https://leviathancreativestudios.com/assets/img/characters/4.png" alt="Imagen 1"
          class="img-techmision" data-aos="fade-up" data-aos-duration="1500">
      </div>
    </div>
    <!-- Punto 2: Tecnología Innovadora -->
    <div class="row d-flex align-items-center py-5">
      <div class="col-md-8 order-md-2">
        <h2 data-aos="fade-up" data-aos-duration="900">{{ 'whyMoodEast.innovativeTechnology' | translate }}</h2>
        <p data-aos="fade-up" data-aos-duration="1200">{{ 'whyMoodEast.techDescription' | translate }}</p>
        <div class="button" data-aos="fade-up" data-aos-duration="1500">
          <a href="/coming-soon" class="btn btn-lg btn-primary">{{ 'whyMoodEast.viewApp' | translate }}</a>
        </div>
      </div>
      <div class="col-md-4 order-md-1 d-flex justify-content-center">
        <img src="https://leviathancreativestudios.com/assets/img/characters/9.png" alt="Imagen 2"
          class="img-techmision" data-aos="fade-up" data-aos-duration="1500">
      </div>
    </div>
  </div>
</section>

<!-- == Beneficios Section == -->
<section id="benefits" class="benefits section">
  <div class="container pb-5" data-aos="fade-up" data-aos-duration="1500">
    <h2 class="py-4">{{ 'whyMoodEast.patientBenefits' | translate }}</h2>
    <div class="row">
      <div class="col-12 col-lg-8 pe-5 pt-4">
        <div class="info-text">
          <div class="single-information" id="patient-icon" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-heart-pulse"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'whyMoodEast.selfHelpResources' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'whyMoodEast.resourcesDescription' | translate }}</p>
        </div>
        <div class="info-text">
          <div class="single-information" id="patient-icon" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-file-earmark-text"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'whyMoodEast.personalizedTracking' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'whyMoodEast.trackingDescription' | translate }}</p>
        </div>

      </div>
      <div class="col-12 side p-4 col-lg-4 " id="patient">
        <img src="https://leviathancreativestudios.com/assets/img/characters/6.png" alt="Imagen 2"
          class="img-patient d-none d-lg-block" data-aos="fade-up" data-aos-duration="1500">
        <p class="text-white fw-bold p-2 d-xl-none">{{ 'whyMoodEast.moodEastMeaning' | translate }}</p>
        <div class="button">
          <a href="/nuestras-bases" class="btn btn-lg btn-secondary w-100">{{ 'whyMoodEast.ourBases' | translate }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-duration="1500">
    <h2 class="py-4">{{ 'whyMoodEast.mentalHealthProfBenefits' | translate }}</h2>
    <div class="row">
      <div class="col-12 side p-4 col-lg-4 order-lg-1 order-2" id="profesional">
        <img src="https://leviathancreativestudios.com/assets/img/characters/8.png" alt="Imagen 2"
          class="img-patient d-none d-lg-block" data-aos="fade-up" data-aos-duration="1500">
        <p class="text-white fw-bold p-2 d-xl-none">{{ 'whyMoodEast.profDescription' | translate }}</p>
        <div class="button">
          <a href="/psicologos" class="btn btn-lg btn-primary w-100">{{ 'whyMoodEast.learnMore' | translate }}</a>
        </div>
      </div>
      <div class="col-12 col-lg-8 ps-5 pt-4 order-lg-2 order-1">
        <div class="info-text">
          <div class="single-information" id="profesional-icon" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-people"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'whyMoodEast.connectionWithPatients' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'whyMoodEast.connectionDescription' | translate }}</p>
        </div>
        <div class="info-text">
          <div class="single-information" id="profesional-icon" data-aos="fade-up" data-aos-duration="1000">
            <i class="bi bi-bar-chart"></i>
          </div>
          <h2 data-aos="fade-up" data-aos-duration="1150">{{ 'whyMoodEast.trackingTools' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1300">{{ 'whyMoodEast.toolsDescription' | translate }}</p>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action area -->
<section class="call-action">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <h2 class="mb-3">
            {{ 'whyMoodEast.tryMoodEast' | translate }}
            <span style="color:var(--secondary-color);">{{ 'whyMoodEast.freeFor30Days' | translate }}</span>
          </h2>
          <p class="h5 fw-200 my-4">{{ 'whyMoodEast.moodEastDescription' | translate }}</p>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-lg-block">
        <div class="cta-image d-flex justify-content-center">
          <img src="https://leviathancreativestudios.com/assets/img/characters/1.png" alt="Mockup - MoodEast">
        </div>
      </div>
    </div>
  </div>
</section>
