<section id="precios" class="hero precios-table section bg-light ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 data-aos="fade-up" data-aos-duration="1600">Cookies policy</h2>
          </div>
        </div>
      </div>
      <div class="justify-content-md-center">
        
        <p>Access to this Website may involve the use of cookies. Cookies are small amounts of information that are stored in the browser used by each User - on the different devices they may use to browse - so that the server remembers certain information that will later be read only by the server that implemented it. Cookies make browsing easier, more user-friendly, and do not damage the browsing device.</p>

        <p>Cookies are automatic procedures for collecting information related to the preferences determined by the User during their visit to the Website in order to recognize them as a User, and personalize their experience and use of the Website, and they can also, for example, help to identify and resolve errors.</p>
    
        <p>The information collected through cookies may include the date and time of visits to the Website, the pages viewed, the time spent on the Website and the sites visited just before and after the Website. However, no cookie allows it to contact the User's telephone number or any other means of personal contact. No cookie can extract information from the User's hard drive or steal personal information. The only way for the User's private information to be part of the Cookie file is for the user to personally provide that information to the server.</p>
    
        <p>Cookies that allow a person to be identified are considered personal data. Therefore, the Privacy Policy described above will apply to them. In this sense, the User's consent will be necessary for their use. This consent will be communicated, based on an authentic choice, offered through an affirmative and positive decision, before the initial, removable and documented treatment.</p>
    
        <h2>Own cookies</h2>
        <p>They are those cookies that are sent to the User's computer or device and managed exclusively by MoodEast for the best functioning of the Website. The information collected is used to improve the quality of the Website and its Content and your experience as a User. These cookies allow us to recognize the User as a recurring visitor to the Website and adapt the content to offer content that fits their preferences.</p>
    
        <h2>Disable, reject and delete cookies</h2>
        <p>The User can disable, reject and delete cookies – totally or partially – installed on their device through the settings of their browser (including, for example, Chrome, Firefox, Safari, Explorer). In this sense, the procedures for rejecting and deleting cookies may differ from one Internet browser to another. Consequently, the User must follow the instructions provided by the Internet browser he or she is using. In the event that you reject the use of cookies – in whole or in part – you may continue using the Website, although the use of some of its features may be limited.</p>
    
        <p>This Cookie Policy document has been created using the free online web cookie policy template generator on 03/28/2024.</p>
    </div>
    </div>
  </section>
  