<!-- Sección del encabezado -->
<section id="header" class="hero">
  <h1 data-aos="fade-up" data-aos-duration="1400">{{ 'impacto.impact' | translate }}</h1>
</section>

<!-- Sección de introducción y apoyo -->
<section id="introduccion-apoyo" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 data-aos="fade-up" data-aos-duration="1400">{{ 'impacto.impactWeHave' | translate }}</h2>
          <p data-aos="fade-up" data-aos-duration="1500">{{ 'impacto.ourPresence' | translate }}</p>
        </div>
      </div>
    </div> <!-- Columna 1 -->
    <div class="row">
      <div class="col-lg-6">
        <div class="single-impacto">
          <i class="bi bi-file-earmark-medical-fill"></i>
          <p>{{ 'impacto.mentalHealthImpact' | translate }}</p>
          <p>{{ 'impacto.mentalHealthCommitment' | translate }}</p>
        </div>
      </div>

      <!-- Columna 2 -->
      <div class="col-lg-6">
        <div class="single-impacto">
          <i class="bi bi-patch-check-fill"></i>
          <p>{{ 'impacto.certifiedProfessionalSupport' | translate }}</p>
          <p>{{ 'impacto.professionalSupportDescription' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
...

<!-- Sección de llamada a la acción -->
<section class="call-action" id="call-action">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-lg-8 px-5">
        <div class="py-4">
          <h2 class="mb-3">{{ 'impacto.selfHelpResources' | translate }}</h2>
          <p class="h5 fw-200 my-4">{{ 'impacto.selfHelpResourcesDescription' | translate }}</p>
        </div>

        <div class="py-4">
          <h2 class="mb-3">{{ 'impacto.personalizedFollowUp' | translate }}</h2>
          <p class="h5 fw-200 my-4">{{ 'impacto.personalizedFollowUpDescription' | translate }}</p>
        </div>
      </div>
      <!-- Column 2 -->
      <div class="col-md-4 px-5">
        <div class="cta-image d-flex justify-content-center img-fluid">
          <img src="https://moodeast.com/assets/characters/3.png " alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sección de apoyo y comunidad -->
<section id="apoyo" class="section pt-5">
  <div class="container">
    <h2>{{ 'impacto.supportCommunity' | translate }}</h2>
    <div class="row">
      <!-- Column 1 -->
      <div class="col-lg-6 col-md-12 col-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="conatiner-mockup d-flex justify-content-center img-fluid">
          <img class="mockup1" src="https://leviathancreativestudios.com/assets/img/single-mockup1.png"
            alt="#">
        </div>
      </div>
      <!-- Column 2 -->
      <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-duration="1500">
        <p>{{ 'impacto.supportCommunityDescription' | translate }}</p>
        <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4 col-2" id="btn">{{ 'freeTrial' | translate }}</a>
      </div>
    </div>
  </div>
</section>
