<!-- Sección del encabezado -->
<section id="header" class="hero">
    <h1>Impacto</h1>
</section>

<!-- Sección de introducción y apoyo -->
<section id="introduccion-apoyo" class="section">
    <div class="container">
        <div class="row">
            <!-- Columna 1 -->
            <div class="col-lg-6">
                <div class="single-impacto">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <p>Nuestro Impacto en la Salud Mental</p>
                    <p>Comprometidos con la mejora de la salud mental y el bienestar global, nuestra plataforma ha
                        tenido un impacto significativo en la vida de miles de usuarios y profesionales de la salud
                        mental.</p>
                </div>
            </div>
            <!-- Columna 2 -->
            <div class="col-lg-6">
                <div class="single-impacto">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>Apoyo Profesional Certificado</p>
                    <p>Hemos conectado a miles de usuarios con psicólogos y profesionales altamente calificados. El
                        acceso a apoyo profesional certificado es esencial para abordar los desafíos de salud mental, y
                        estamos orgullosos de proporcionar esta conexión vital.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de llamada a la acción -->
<section class="call-action" id="call-action">
    <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <!-- Columna 1 -->
            <div class="col-lg-7 px-5">
                <div class="py-4">
                    <h2 class="mb-3">Recursos de Autoayuda</h2>
                    <p class="h5 fw-200 my-4">La plataforma ofrece diversos recursos de autoayuda para gestionar el
                        bienestar emocional, incluyendo ejercicios de relajación, técnicas de manejo del estrés y
                        consejos para el bienestar emocional.</p>
                </div>

                <div class="py-4">
                    <h2 class="mb-3">Seguimiento Personalizado</h2>
                    <p class="h5 fw-200 my-4">En MoodEast, enfatizamos el seguimiento personalizado utilizando
                        tecnología avanzada para evaluar el progreso de los usuarios. Ofrecemos recomendaciones
                        específicas para mejorar la salud mental de cada usuario, reconociendo que cada viaje hacia el
                        bienestar es único, y brindamos un apoyo individualizado en cada paso.</p>
                </div>
            </div>
            <!-- Columna 2 -->
            <div class="col-md-5 px-5">
                <div class="cta-image d-flex justify-content-center img-fluid">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/8.png" alt="Mockup">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de apoyo y comunidad -->
<section id="apoyo" class="section pt-5">
    <div class="container">
        <h2>Comunidad de apoyo</h2>
        <div class="row">
            <!-- Columna 1 -->
            <div class="col-lg-6 col-md-12 col-4" data-aos="fade-right" data-aos-duration="1500">
                <div class="conatiner-mockup d-flex justify-content-center img-fluid">
                    <img class="mockup1" src="https://leviathancreativestudios.com/assets/img/single-mockup1.png"
                        alt="#">
                </div>
            </div>
            <!-- Columna 2 -->
            <div class="col-lg-5 col-md-12" data-aos="fade-left" data-aos-duration="1500">
                <p>Fomentamos la construcción de una comunidad de apoyo donde los usuarios pueden conectarse con otras
                    personas que comparten sus desafíos y objetivos. Aquí, se comparten experiencias, consejos y se
                    brinda apoyo mutuo, creando un espacio seguro y acogedor.</p>
                <a href="/register" class="btn btn-lg btn-secondary py-3 px-5 mt-4 col-2" id="btn">Prueba Gratis</a>
            </div>
        </div>
    </div>
</section>