<section class="section gray-bg" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
            <div class="title">
              <h1 class="h1">Blog</h1>
              <p>Descubre algunas de nuestras novedades o publicaciones</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-1">Noticias</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/services.jpg" title="" alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum..
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-2">Actualizaciones</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/why-us.jpeg" title="" alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-3">Eventos</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/footer-bg.jpg" title=""
                alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-4">Investigacion</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/team/team-1.jpeg" title=""
                alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-5">Comunidad</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/team/team-2.jpeg" title=""
                alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-2">Investigacion</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/team/team-3.jpeg" title=""
                alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-1">Investigacion</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/testimonials-bg.png" title=""
                alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>

      <!-- Entrada de blog-->
      <div class="col-lg-4">
        <div class="blog-grid">
          <div class="blog-img">
            <div class="date">31 MAY 2023</div>
            <button routeLink="/" class=" btn category" id="cat-4">Investigacion</button>
            <a routerLink="/entrada-blog">
              <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/portfolio/portfolio-1.png"
                title="" alt="">
            </a>
          </div>
          <div class="blog-info shadow">
            <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit
                mattis</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada
              ut curabitur porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin
              pharetra. Taciti feugiat auctor eros tellus montes curabitur euismod eget, quis platea ac
              ornare augue suspendisse non in, molestie cursus inceptos tortor ligula cubilia vestibulum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
