<section id="precios" class="hero precios-table section bg-light ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 data-aos="fade-up" data-aos-duration="1500">Precio</h3>
                    <h2 data-aos="fade-up" data-aos-duration="1600">Plan de precios premium</h2>
                    <p data-aos="fade-up" data-aos-duration="1800">Encuentra todo lo que necesitas para un experiencia
                        exitosa</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div id="free" class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2600">
                <div class="single-table">
                    <div class="table-head">
                        <h4 class="title">Mensual</h4>
                        <p>Perfecto para aquellos que desean un apoyo completo y personalizado.</p>
                        <div class="precio">
                            <h2 class="amount">5,99€<span class="duration">/mes</span></h2>
                                                        <p class="iva">IVA incluido</p>

                        </div>
                    </div>     
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2200">
                <div class="single-table">
                    <div class="table-head">
                        <h4 class="title">Semestral</h4>
                        <p>Perfecto para aquellos que desean un apoyo completo y personalizado.</p>
                        <div class="precio">
                            <h2 class="amount">4,17€<span class="duration">/mes</span></h2>
                                                        <p class="iva">IVA incluido</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2200">
                <div class="single-table opcion" >
                    <div class="table-head">
                        <h4 class="title">Anual</h4>
                        <p>Perfecto para aquellos que desean un apoyo completo y personalizado.</p>
                        <div class="precio">
                            <h2 class="amount">3,33€<span class="duration">/mes</span></h2>
                                                        <p class="iva">IVA incluido</p>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
