<section id="precios" class="hero precios-table section bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="1500" [translate]="'list.prices'"></h3>
          <h2 data-aos="fade-up" data-aos-duration="1600" [translate]="'list.premiumPricingPlan'"> </h2>
          <p data-aos="fade-up" data-aos-duration="1800" [translate]="'list.findEverything'"></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div id="free" class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2600">
        <div class="single-table">
          <div class="table-head">
            <h4 class="title" [translate]="'list.monthly'"></h4>
            <p [translate]="'list.perfectForThose'"></p>
            <div class="precio">
              <h2 class="amount">6,99€<span class="duration">/mes</span></h2>
              <p class="iva" [translate]="'list.includedVAT'"> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2200">
        <div class="single-table">
          <div class="table-head">
            <h4 class="title" [translate]="'list.semester'"> </h4>
            <p [translate]="'list.perfectForThose2'"></p>
            <div class="precio">
              <h2 class="amount">34,99€</h2>
              <p class="iva" [translate]="'list.includedVAT'"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12" data-aos="fade-up" data-aos-duration="2200">
        <div class="single-table opcion">
          <div class="table-head">
            <h4 class="title" [translate]="'list.annual'"></h4>
            <p [translate]="'list.perfectForThose3'"></p>
            <div class="precio">
              <h2 class="amount">54,99€</h2>
              <p class="iva" [translate]="'list.includedVAT'"></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
