/*Estilos generales*/

.call-action .container,
.nuestros-logros .container {
    background-color: var(--primary-color);
    border-radius: 35px;

}

/*banner home styles*/
.hero-area {
    background-color: var(--primary-color);
    padding-top: 5em;

    /* Full height */
    min-height: 100vh !important;
}

.hero-image {
    visibility: visible;
    animation-delay: 0.4s;
    /* animation-name: fadeInRight; */
}

.hero-image img {
    max-height: 80vh;
    max-width: auto;
}

.hero-content h1 {
    font-size: 39px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 800;
}

/*Estilos de caracteristicas*/

.caracteristicas .single-caracteristicas {
    height: 21em !important;
    text-align: left;
    padding: 35px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    margin-top: 30px;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.caracteristicas .single-caracteristicas:hover {
    -webkit-box-shadow: 0px 3px 5px #00000017;
    box-shadow: 0px 3px 5px #00000017;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.caracteristicas .single-caracteristicas i,
.information .single-information i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 4px 6px #0000002a;
    box-shadow: 0px 4px 6px #0000002a;
    margin-bottom: 20px;
}

/* Estilos de information */

.information {
    background-color: #f8f9fa;
}

.conatiner-mockup {
    padding: 50px;
}

.mockup1,
.mockup2 {
    vertical-align: middle;
    width: 25em;
    height: auto;
}

/* Estilos de logros */
.nuestros-logros {
    background-color: #f8f9fa;
    text-align: right;
    padding: 40px 0;
}

.nuestros-logros h2 {
    margin-bottom: 5px;
    line-height: 42px;
    position: relative;
    font-weight: 800;
}

.nuestros-logros p {
    /*color: white;*/
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.nuestros-logros .single-logros {
    margin-top: 5px;
    text-align: right;
    padding: 0px 10px;
}

.nuestros-logros .single-logros h3 {
    font-size: 45px;
    font-weight: 800;
    display: block;
    margin-bottom: 5px;
}

.nuestros-logros .single-logros p {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

/* Estilos de precios */

.precios-table {
    background-color: #f9f9f9;
}

.precios-table .single-table {
    border: 1px solid #eee;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    height: 45em !important;
}

.precios-table .single-table:hover {
    -webkit-box-shadow: 0px 3px 5px #00000017;
    box-shadow: 0px 3px 5px #00000017;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.precios-table .single-table .table-head {
    padding: 25px;
    border-bottom: 1px solid #eee;
}

.precios-table .single-table .table-head .title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
    position: relative;
    font-weight: 800;
}

.precios-table .single-table .table-head p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.precios-table .single-table .table-head .precio {
    padding: 20px 0;
}

.precios-table .single-table .table-head .precio .amount {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
}

.precios-table .single-table .table-content {
    padding: 25px;
}

.precios-table .single-table .table-content .middle-title {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.precios-table .single-table .table-content .table-list li i {
    color: var(--primary-color);
    font-size: 18px;
}

.precios-table .single-table .table-content .table-list__free  .table-list li {
    font-size: 15px;
    color: gray;
    justify-content: left;
}

.precios-table .single-table .table-head .precio .amount {
    display: inline-block;
    font-size: 50px;
    color: black;
    font-weight: 700;
    margin-left: 3px;
}

.precios-table .single-table .table-head .precio .amount .duration {
    display: inline-block;
    font-size: 20px;
    color: #888;
    font-weight: 400;
    margin-left: 3px;
}


ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.iva{
    color: grey;
    margin-left: 10px;

}

/* Estilos de call to action */

.call-action {
    background-color: #f8f9fa;
    padding-bottom: 4em;
}

.call-action .cta-content {
    text-align: left;
}

.call-action .cta-image {
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
}

.cta-image img {
    height: 100%;
    max-height: 21em;
    max-width: max-content;
}

.call-action .cta-content h2 {
    color: #fff;
    line-height: 50px;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
}

.call-action .cta-content p {
    color: #fff;
    padding: 0px 50px;
}

.call-action .cta-content .button {
    margin-top: 40px;
}

/* Estilos FAQ area */

.accordion-item {
    margin-bottom: 20px;
}

.accordion-item .accordion-button {
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
    border: 1px solid #eee;
    padding: 20px;
    padding-right: 40px;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-right: 40px;
}

.accordion-item .accordion-button .title {
    font-size: 15px;
    position: relative;
    font-weight: 600;
    float: left;
    padding-left: 45px;
    line-height: 25px;
}

.accordion-item .accordion-button .title .serial {
    color: #081828;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eee;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.accordion-item .accordion-button i {
    font-size: 13px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
}

/*Estilos de botones */

.btn-light {
    color: var(--primary-color);
}

.btn-light:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}

.btn-register {
    color: white;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-register:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.btn-outline-light:hover {
    color: var(--primary-color);
}

.btn-comprar {
    color: #212529;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-comprar:hover {
    color: white;
    background-color: var(--accent-secondary-color);
    border: 1px solid var(--accent-secondary-color);
}

/* ==== Media Query ==== */
@media (max-width: 992px) {
    .precios-table .single-table {
        height: 41em !important;
    }
}

@media (max-width: 991px) {
    .hero-area {
        height: max-content;
    }

    .hero-image img {
        height: 90%;
        max-width: auto;
    }

    #intro {
        margin-top: 5em !important;
    }

    .nuestros-logros {
        background-color: #f8f9fa;
        
        text-align: center;
        padding: 10px 0;
    }
    
    .nuestros-logros h2 {
        font-size: 32px;
        margin-bottom: 25px;
        line-height: 42px;
        position: relative;
        font-weight: 800;
    }
    
    .nuestros-logros p {
        /*color: white;*/
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 24px;
    }
    
    .nuestros-logros .single-logros {
        margin-top: 50px;
        text-align: center;
        padding: 0px 10px;
    }
    
    .nuestros-logros .single-logros h3 {
        font-size: 45px;
        font-weight: 800;
        display: block;
        margin-bottom: 5px;
    }
    
    .nuestros-logros .single-logros p {
        font-size: 25px;
        font-weight: 500;
        text-transform: capitalize;
    }

}

@media (max-width:896px){

.info-text h2{
font-size: 25pt;} 
}
#precios .single-table{
height: 45em !important ;    
}
#precios #free .single-table{
    height: 45em !important;
}


@media (max-width:667px){

    #home .hero-image img{
        height: 100%;
        width: 115%;
    }
    .hero-area{
        height: 55em;
    }
    #information .single-information  {
        margin-top: 10px;
        
    }

    #confiar .container .title{
        width: 214px;
        text-align: center;
    }
    #free .single-table {
        height: 33em !important;
    }
    .call-action h2{
        font-size: 24pt;
    }
    .style2 .row{
        flex-direction: column-reverse;
    }
}