<!-- Banner home area -->
<section id="home" class="hero-area">
  <div class="container">
    <div class="row align-items-center" id="intro">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="hero-content">
          <h1 class="" data-aos="fade-up" data-aos-duration="1000" [translate]="'home.title'"></h1>
          <p class="" data-aos="fade-up" data-aos-duration="1100" [translate]="'home.paragraph'"></p>
          <small class="" data-aos="fade-up" data-aos-duration="1200" [translate]="'home.smallText'"></small>
          <div class="mt-2">
            <button class="btn btn-lg  btn-dark p-2 me-2" data-aos="fade-up" data-aos-duration="1350"><i
                class="bi bi-apple me-2"></i>App Store
            </button>
            <button class="btn btn-lg btn-outline-dark p-2" data-aos="fade-up" data-aos-duration="1400"><i
                class="bi bi-google-play me-2"></i>Google Play
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 d-flex justify-content-center img-fluid" data-aos="fade-up"
        data-aos-duration="1500">
        <div class="hero-image m-3 d-flex justify-content-center">
          <img src="https://moodeast.com/assets/mockups/mockup1.png" alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>
<!--==== Final banner home area ===== -->

<!-- Information area -->
<section id="information" class="information">
  <div class="container">
    <div class="info-one">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">

          <div class="info-text">
            <div class="single-information" data-aos="fade-up" data-aos-duration="1000">
              <i class="bi bi-heart-pulse"></i>
            </div>
            <h2 data-aos="fade-up" data-aos-duration="1150" [translate]="'home.increaseWellbeing'"></h2>
            <p data-aos="fade-up" data-aos-duration="1300" [translate]="'home.discoverResources'"></p>
            <div class="button" data-aos="fade-up" data-aos-duration="1500">
              <a href="/nuestras-bases" class="btn btn-lg btn-primary" [translate]="'home.exploreBases'"></a>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-12 col-12 d-flex justify-content-center mockup-img">
          <img id="mockup1" class="img-fluid" src="https://moodeast.com/assets/mockups/mockup4.png" alt="#">
        </div>
      </div>
    </div>
    <div class="info-one style2">
      <div class="row align-items-center">
        <div id="mockup2" class="col-lg-6 col-md-12 col-12 d-flex justify-content-center mockup-img">
          <img class=" img-fluid" src="https://moodeast.com/assets/mockups/mockup2.png" alt="#">
        </div>


        <div class="col-lg-6 col-md-12 col-12">
          <div class="info-text">
            <div class="single-information" data-aos="fade-up" data-aos-duration="1150">
              <i class="bi bi-search"></i>
            </div>
            <h2 data-aos="fade-up" data-aos-duration="1300" [translate]="'home.findHelp'"></h2>
            <p data-aos="fade-up" data-aos-duration="1400" [translate]="'home.accessTherapy'"></p>
            <div class="button" data-aos="fade-up" data-aos-duration="1500">
              <a href="/coming-soon" class="btn btn-lg btn-primary" [translate]="'home.startTherapy'"></a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
<!--==== Final information area ===== -->

<!-- Logros area -->
<!-- <section class="nuestros-logros" id="logros">
    <div class="container py-5 px-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="row d-flex align-items-cen">
            <div class="col-12 col-md-3 d-none d-lg-block">
                <div class="cta-image d-flex justify-content-center img-fluid">
                    <img src="https://leviathancreativestudios.com/assets/img/characters/5.png" alt="Mockup">
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5">
                <div class="py-4">
                    <div class="title">
                        <h2 class="mb-3">Cuanta gente confia en nosotros</h2>
                        <p class="my-4">Aqui puedes ver algunos numeros que nos orgullecen</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-logros">
                                <h3 class="counter" id="myCounter"><span id="secondo1" class="countup" cup-end="100">100
                                    </span>%</h3>
                                <p>Satisfaccion</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-logros">
                                <h3 class="counter"><span id="secondo2" class="countup" cup-end="120">120 </span>K</h3>
                                <p>Personas felices</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-logros wow fadeInUp">
                                <h3 class="counter"><span id="secondo3" class="countup" cup-end="125">125 </span>k+</h3>
                                <p>Descargas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- ==== Final Logros area ==== -->

<section class="nuestros-logros" id="confiar">
  <div class="container py-5 px-5" data-aos="fade-up" data-aos-duration="1500">
    <div class="row d-flex align-items-cen">
      <div class="col-12 col-md-3 d-none d-lg-block">
        <div class="cta-image d-flex justify-content-center img-fluid">
          <img src=" https://moodeast.com/assets/characters/2.png " alt="Mockup">
        </div>
      </div>
      <div class="col-12 col-lg-9 px-5">
        <div class="py-4">
          <div class="title">
            <h2 class="mb-3" [translate]="'home.trustUs'"></h2>
            <p class="my-4" [translate]="'home.reasons'"></p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="single-logros">
                <h3 class="counter" id="myCounter"><span id="secondo1" class="countup" cup-end="100">24/7</span>
                </h3>
                <p [translate]="'home.accessible'"></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="single-logros">
                <h3 class="counter"><span id="secondo2" class="countup" cup-end="120">Maxima</span></h3>
                <p [translate]="'home.security'"></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="single-logros wow fadeInUp">
                <h3 class="counter"><span id="secondo3" class="countup" cup-end="125">100</span>%</h3>
                <p [translate]="'home.personalized'"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- caracteristicas area -->
<section id="caracteristicas" class="caracteristicas section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="1500" [translate]="'home.features'"></h3>
          <h2 data-aos="fade-up" data-aos-duration="1600" [translate]="'home.whatMoodEastOffers'"></h2>
          <p data-aos="fade-up" data-aos-duration="1800" [translate]="'home.discoverInnovation'"></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-bookmarks"></i>
          <h3 [translate]="'home.selfHelpResources'"></h3>
          <p [translate]="'home.selfHelpResourcesDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-eye"></i>
          <h3 [translate]="'home.personalizedTracking'"></h3>
          <p [translate]="'home.personalizedTrackingDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Feature -->
        <div class="single-caracteristicas">
          <i class="bi bi-bar-chart"></i>
          <h3 [translate]="'home.progressTracking'"></h3>
          <p [translate]="'home.progressTrackingDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-people"></i>
          <h3 [translate]="'home.supportCommunity'"></h3>
          <p [translate]="'home.supportCommunityDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single  Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-clock"></i>
          <h3 [translate]="'home.accessAnytime'"></h3>
          <p [translate]="'home.accessAnytimeDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
      <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2000">
        <!-- Single Caracteristica -->
        <div class="single-caracteristicas">
          <i class="bi bi-lock"></i>
          <h3 [translate]="'home.guaranteedConfidentiality'"></h3>
          <p [translate]="'home.guaranteedConfidentialityDesc'"></p>
        </div>
        <!-- Final Single Caracteristica -->
      </div>
    </div>
  </div>
</section>
<!--==== Final caracterisctica area ===== -->

<!-- Precios area -->
<section id="precios" class="precios-table section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="1500" [translate]="'pricing.title'"></h3>
          <h2 data-aos="fade-up" data-aos-duration="1600" [translate]="'pricing.subtitle'"></h2>
          <p data-aos="fade-up" data-aos-duration="1800" [translate]="'pricing.description'"></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div id="free" class="col-lg-6 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2600">
        <div class="single-table">
          <div class="table-head">
            <h4 class="title" [translate]="'pricing.free.title'"></h4>
            <p [translate]="'pricing.free.description'"></p>
            <div class="precio">
              <h2 class="amount">{{ 'pricing.free.price' | translate }}<span class="duration">/{{'pricing.free.month' |
                  translate}}</span></h2>
            </div>
            <div class="button">
              <a href="/coming-soon" class="btn btn-lg btn-comprar" [translate]="'pricing.free.tryNow'"></a>
            </div>
          </div>
          <div class="table-content">
            <h4 class="middle-title" [translate]="'pricing.free.included.title'"></h4>
            <ul class="table-list">
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.free.included.accessToMoodeast' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.free.included.accessToTherapy' | translate }}</li>
            </ul>
            <br>
            <h4 class="middle-title" [translate]="'pricing.free.notIncluded.title'"></h4>
            <ul class="table-list__free">
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{ 'pricing.free.notIncluded.pinForApp' | translate
                }}
              </li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{ 'pricing.free.notIncluded.downloadPDFReports' |
                translate }}</li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{ 'pricing.free.notIncluded.moreEmoticons' |
                translate
                }}</li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{
                'pricing.free.notIncluded.preferencesInPsychologistAppointments' | translate }}</li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{ 'pricing.free.notIncluded.unlockedContent' |
                translate
                }}</li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{
                'pricing.free.notIncluded.unlimitedEmotionalJourney' |
                translate }}</li>
              <li class=" text-muted"><i class="bi bi-x-circle"></i> {{
                'pricing.free.notIncluded.unlimitedDailyEmotionalRecords' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12" data-aos="fade-up" data-aos-duration="2200">
        <div class="single-table">
          <div class="table-head">
            <h4 class="title" [translate]="'pricing.premium.title'"></h4>
            <p [translate]="'pricing.premium.description'"></p>
            <div class="precio">
              <h2 class="amount">{{ 'pricing.premium.price' | translate }}<span
                  class="duration">/{{'pricing.premium.month' | translate}}</span></h2>
            </div>
            <div class="button">
              <a href="/precios" class="btn btn-lg btn-comprar" [translate]="'pricing.premium.viewPlans'"></a>
              <p class="iva" [translate]="'pricing.premium.vatIncluded'"></p>
            </div>
          </div>
          <div class="table-content">
            <h4 class="middle-title" [translate]="'pricing.premium.included.title'"></h4>
            <ul class="table-list">
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.accessToMoodeast' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.accessToTherapy' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.pinForApp' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.downloadPDFReports' | translate }}
              </li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.moreEmoticons' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{
                'pricing.premium.included.preferencesInPsychologistAppointments'
                | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.unlockedContent' | translate }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.unlimitedEmotionalJourney' |
                translate
                }}</li>
              <li><i class="bi bi-check2-circle"></i> {{ 'pricing.premium.included.unlimitedDailyEmotionalRecords' |
                translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== Fin Precios area ==== -->

<!-- Call to action area -->
<section class="call-action">
  <div class="container py-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="row">
      <div class="col-12 col-md-7 px-5">
        <div class="py-4">
          <div>
            <h2 class="mb-3" [translate]="'home.trial.title'"></h2>
          </div>
          <div>
            <p class="h5 fw-200 my-4" [translate]="'home.trial.description'"></p>
          </div>
          <a href="/coming-soon" class="btn btn-lg btn-secondary py-3 px-5 mt-4" [translate]="'home.trial.tryFree'"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-lg-block">
        <div class="cta-image d-flex justify-content-center">
          <img src=" https://moodeast.com/assets/characters/1.png " alt="Mockup">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== Fin Call to action area ==== -->
<!-- Paleta de colores-->
<section id="colors" class="section">
  <div class="section-title">
    <h3 data-aos="fade-up" data-aos-duration="1500" [translate]="'colors.colors'"></h3>
    <h2 data-aos="fade-up" data-aos-duration="1600" [translate]="'colors.chooseColor'"></h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-1 ">
        <div class="colores">
          <button *ngFor="let color of colors; let i = index" [style.background-color]="color" class="color-button"
            (click)="showImage(i)"></button>
        </div>
      </div>
      <div class="col-10 ">
        <div class="carousel" id="mockupsColors">
          <img *ngFor="let image of images; let i = index" class="image" data-aos="fade-up"
            data-aos-duration="1700" [src]="image" [class.activeImage]="selectedIndex === i">
        </div>
      </div>
    </div>
  </div>
</section>



<!-- ==== Final Paleta de colores ==== -->


<!-- FAQ area -->
<section class="faq section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 data-aos="fade-up" data-aos-duration="1500">{{ 'home.faq' | translate }}</h3>
          <h2 data-aos="fade-up" data-aos-duration="1600">{{ 'home.frequentQuestions' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="1800">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <span class="title"><span class="serial">01</span>{{ 'faq.item1.question' | translate }}</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item1.answer' | translate }}</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="title"><span class="serial">02</span>{{ 'faq.item3.question' | translate }}<i
                    class="lni lni-plus"></i></span>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item3.answer' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="title"><span class="serial">03</span>{{ 'faq.item4.question' | translate }}<i
                    class="lni lni-plus"></i></span>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item4.answer' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <span class="title"><span class="serial">04</span>{{ 'faq.item5.question' | translate }}<i
                    class="lni lni-plus"></i></span>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ 'faq.item5.answer' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== Fin FAQ area ==== -->
