<div class="blog-single">
  <div class="container">
    <div class="header row">
      <div class="blog-img col-12 col-lg-5">
        <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/sobre-nosotros.jpeg" title=""
          alt="">
      </div>

      <div class="blog-img col-12 col-lg-7 mt-4 mt-lg-1 ps-lg-5">
        <div class="cat-box mb-lg-3"><button routeLink="/" class=" btn categoria-entrada"
            id="cat-4">Investigacion</button></div>
        <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis</h1>
        <div class="date mt-lg-4 mt-2 text-black-50"><i class="bi bi-calendar me-2"></i>31 MAY 2023</div>
      </div>
    </div>

    <div>
      <hr>
      <p class="h1">Tabla de contenidos</p>
      <div id="tablaContenido">
        <!-- Se muesttra la tabla de contenidos autoamaticamente -->
      </div>
      <hr>
    </div>


    <div id="contenidoEntrada" class="entradaContent">
      <!-- Aquí va el contenido de la entrada -->
      <h2>Hola</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullamcorper, posuere fames malesuada ut curabitur
        porttitor interdum nisi, fermentum duis tempus semper proin sollicitudin pharetra. Taciti feugiat auctor
        eros tellus montes curabitur euismod eget, quis platea ac ornare augue suspendisse non in, molestie
        cursus inceptos tortor ligula cubilia <a href="">vestibulum</a>. Tempus habitant massa litora velit ultricies
        congue
        vulputate commodo, primis quisque condimentum torquent feugiat nunc iaculis platea imperdiet, mus
        vestibulum quam vel ac dui mattis. Fames consequat rutrum montes justo ridiculus taciti eget, sapien
        mattis volutpat ullamcorper tincidunt conubia, hac condimentum lectus sagittis nibh sodales.</p>
      <p>Ullamcorper inceptos a gravida conubia tristique duis quis tincidunt taciti sollicitudin, interdum
        condimentum non dictumst dictum ante suscipit ac hac turpis porta, iaculis auctor neque porttitor dui
        sem imperdiet maecenas lobortis. Iaculis vitae praesent sociis tincidunt commodo viverra auctor, lacus
        parturient litora porta nulla rhoncus senectus justo, tristique sollicitudin arcu gravida venenatis
        ante. Pretium cursus nam euismod senectus proin eu porttitor, ornare habitant interdum tellus ut lectus,
        fames ultricies scelerisque ad maecenas placerat.</p>
      <p>Curabitur conubia ultricies primis enim sollicitudin, sagittis suspendisse justo vestibulum lectus,
        vivamus dapibus euismod turpis. Fringilla augue aliquam fusce rutrum vulputate, nascetur orci consequat
        sapien, nibh aenean ultrices est. Auctor euismod tellus eu varius integer nec volutpat, placerat
        himenaeos venenatis tempor leo diam, sollicitudin turpis litora facilisis praesent platea. Potenti
        vivamus nec himenaeos fames fringilla inceptos aliquam augue tincidunt, quisque imperdiet aliquet tortor
        pharetra torquent etiam varius nisi ad, dignissim ligula class vel est condimentum viverra mi.</p>
      <p>Porta mauris auctor commodo id facilisi volutpat nisl porttitor ac, fusce quis nullam sem mi sagittis
        tempor nunc, curabitur non orci quisque tristique placerat pharetra fermentum. Rhoncus eros id tempor
        dis porta hac mattis netus, praesent etiam aptent sociis quis aenean donec, quisque penatibus erat
        tincidunt turpis ligula diam. Curae conubia aptent sagittis taciti tellus, proin eleifend dignissim
        scelerisque nullam, cursus augue pharetra curabitur.</p>
      <p>Purus potenti commodo vulputate ut dui a aptent nisl velit, bibendum nec hac torquent libero fringilla
        hendrerit primis class, venenatis blandit maecenas gravida aliquam quam facilisi nunc. Orci congue justo
        proin feugiat phasellus augue id ornare sociosqu convallis, per dui molestie mauris ridiculus sociis et
        cursus a morbi sed, nullam egestas eros lacus dis nascetur lobortis nostra class. Ultricies quam tellus
        scelerisque duis vitae torquent neque pretium magna, erat aliquam varius porta mauris suspendisse
        penatibus curabitur, montes nunc commodo eget vestibulum iaculis felis at. Fusce vel etiam interdum leo
        nascetur consequat mus <a href=""> parturient enim pellentesque odio dignissim mauris</a>, proin aenean viverra
        elementum porta id dictumst natoque a est nibh. Aptent tempor ultrices nunc habitasse non vitae cras
        posuere tortor ad, parturient cum nam in eleifend luctus est ligula curae, risus facilisi cubilia orci
        aenean sed enim lacus faucibus.</p>
      <h2>Fins aviat</h2>
      <p>Suspendisse ad ultricies nullam dui fermentum lacus pretium sed sem, facilisi nunc turpis venenatis
        facilisis conubia euismod magna pellentesque, etiam gravida in sagittis phasellus posuere at metus.
        Rhoncus scelerisque arcu ultrices fringilla ad ante, sapien felis dictum lacus taciti luctus iaculis,
        netus morbi conubia tempus feugiat. Est eleifend sed ut conubia semper aenean ligula feugiat volutpat,
        diam a egestas in maecenas pellentesque varius class, posuere leo scelerisque iaculis justo condimentum
        faucibus tristique.</p>
      <p>Nisl habitant taciti molestie dui venenatis natoque conubia, vulputate mollis hendrerit litora posuere
        class magnis tristique, viverra quis sapien tempor malesuada sociis. Platea congue interdum tempor ut
        odio varius nam lacus aptent purus, sociosqu augue habitasse cras conubia pellentesque nisl accumsan.
        Aliquet aenean sollicitudin himenaeos nulla dignissim massa tincidunt nunc suspendisse, iaculis felis
        donec magna aliquam proin nullam dictumst, rutrum sodales lectus molestie fringilla phasellus imperdiet
        sapien.</p>

      <img src="https://leviathancreativestudios.com/assets/img/why-us.jpeg" alt="">

      <h3>Adeu</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae primis
        massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices himenaeos
        torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
        ullamcorper volutpat, netus suspendisse nam sociis lobortis dis. Sed volutpat pharetra facilisi
        curabitur aenean vivamus praesent magna massa, bibendum fames nec leo urna sem dictum cubilia elementum
        dui, semper nisi nibh suscipit class duis maecenas vestibulum.</p>
      <p>Netus a class at cras placerat, luctus laoreet ullamcorper molestie augue eleifend, suspendisse
        condimentum pretium dui. Himenaeos ultricies duis velit dictumst non netus arcu nisi porta, libero neque
        aliquam egestas erat gravida viverra curabitur, est tortor tellus odio aenean sagittis diam etiam.
        Posuere nostra in diam ut donec egestas tempor tortor cras justo ad, torquent auctor sodales faucibus
        sollicitudin non tempus morbi ullamcorper aliquet.</p>
      <h3>Conichiwa</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae primis
        massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices himenaeos
        torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
        ullamcorper volutpat, netus suspendisse nam sociis lobortis dis. Sed volutpat pharetra facilisi
        curabitur aenean vivamus praesent magna massa, bibendum fames nec leo urna sem dictum cubilia elementum
        dui, semper nisi nibh suscipit class duis maecenas vestibulum.</p>
      <p>Netus a class at cras placerat, luctus laoreet ullamcorper molestie augue eleifend, suspendisse
        condimentum pretium dui. Himenaeos ultricies duis velit dictumst non netus arcu nisi porta, libero neque
        aliquam egestas erat gravida viverra curabitur, est tortor tellus odio aenean sagittis diam etiam.
        Posuere nostra in diam ut donec egestas tempor tortor cras justo ad, torquent auctor sodales faucibus
        sollicitudin non tempus morbi ullamcorper aliquet.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae primis
        massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices himenaeos
        torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
        ullamcorper volutpat, netus suspendisse nam sociis lobortis dis. Sed volutpat pharetra facilisi
        curabitur aenean vivamus praesent magna massa, bibendum fames nec leo urna sem dictum cubilia elementum
        dui, semper nisi nibh suscipit class duis maecenas vestibulum.</p>
      <h3>alo</h3>
      <p>Netus a class at cras placerat, luctus laoreet ullamcorper molestie augue eleifend, suspendisse
        condimentum pretium dui. Himenaeos ultricies duis velit dictumst non netus arcu nisi porta, libero neque
        aliquam egestas erat gravida viverra curabitur, est tortor tellus odio aenean sagittis diam etiam.
        Posuere nostra <a>iam ut donec egestas tempor tortor cras justo ad</a> , torquent auctor sodales
        faucibus
        sollicitudin non tempus morbi ullamcorper aliquet.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae primis
        massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices himenaeos
        torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
        ullamcorper volutpat, netus suspendisse nam sociis lobortis dis. Sed volutpat pharetra facilisi
        curabitur aenean vivamus praesent magna massa, bibendum fames nec leo urna sem dictum cubilia elementum
        dui, semper nisi nibh suscipit class duis maecenas vestibulum.</p>
      <h4>seindu</h4>
      <p>Netus a class at cras placerat, luctus laoreet ullamcorper molestie augue eleifend, suspendisse
        condimentum pretium dui. Himenaeos ultricies duis velit dictumst non netus arcu nisi porta, libero neque
        aliquam egestas erat gravida viverra curabitur, est tortor tellus odio aenean sagittis diam etiam.
        Posuere nostra in diam ut donec egestas tempor tortor cras justo ad, torquent auctor sodales faucibus
        sollicitudin non tempus morbi ullamcorper aliquet.</p>

<h2>erxrdfcghvjbk</h2>
<h3>yrdyt fuykj</h3>
<h6>jijojo</h6>
    </div>
  </div>
</div>

<section class="section" id="entradasRelacionadas">
  <div class="row">
    <div class="col-12">
      <div class="section-title">
        <h3>Ver más</h3>
        <h2>Ultimas Entradas</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Entrada de blog-->
    <div class="col-lg-4">
      <div class="blog-grid">
        <div class="blog-img">
          <div class="date">31 MAY 2023</div>
          <button routeLink="/" class=" btn category" id="cat-1">Noticias</button>
          <a routerLink="/entrada-blog">
            <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/services.jpg" title="" alt="">
          </a>
        </div>
        <div class="blog-info shadow">
          <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit mattis</a>
          </h5>
          <p>RLorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae
            primis
            massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices
            himenaeos
            torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
            ullamcorper volutpat, netus suspendisse nam sociis lobortis dis.</p>
        </div>
      </div>
    </div>

    <!-- Entrada de blog-->
    <div class="col-lg-4">
      <div class="blog-grid">
        <div class="blog-img">
          <div class="date">31 MAY 2023</div>
          <button routeLink="/" class=" btn category" id="cat-2">Actualizaciones</button>
          <a routerLink="/entrada-blog">
            <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/why-us.jpeg" title="" alt="">
          </a>
        </div>
        <div class="blog-info shadow">
          <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit mattis</a>
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae
            primis
            massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices
            himenaeos
            torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
            ullamcorper volutpat, netus suspendisse nam sociis lobortis dis.</p>
        </div>
      </div>
    </div>

    <!-- Entrada de blog-->
    <div class="col-lg-4">
      <div class="blog-grid">
        <div class="blog-img">
          <div class="date">31 MAY 2023</div>
          <button routeLink="/" class=" btn category" id="cat-3">Eventos</button>
          <a routerLink="/entrada-blog">
            <img class="img-fluid" src="https://leviathancreativestudios.com/assets/img/footer-bg.jpg" title="" alt="">
          </a>
        </div>
        <div class="blog-info shadow">
          <h5><a routerLink="/entrada-blog">Lorem ipsum dolor sit amet consectetur adipiscing elit mattis</a>
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis, velit cursus ad vehicula curae
            primis
            massa lacus, fames non libero quis vulputate phasellus lectus odio, vel rutrum cum ultrices
            himenaeos
            torquent feugiat. Arcu lectus etiam felis rhoncus mauris penatibus fusce, purus congue proin cum
            ullamcorper volutpat, netus suspendisse nam sociis lobortis dis.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-md-12 col-12">
        <div class="newslatter-card py-5 px-5 px-xl-0 ">
          <div class="row align-items-center">
            <div class="offset-xl-1 col-xl-6 col-md-7 col-12">
              <div>
                <h2 class="h1 text-white mb-3">Suscríbete a la newsletter</h2>
                <p class="text-white fs-4">Recibe todas nuestras novedades y contenidos exclusivamente
                  en tu correo.</p>
                <button class="btn btn-newsletter">Suscríbete</button>
              </div>
            </div>
            <div class="col-xl-5 col-md-5 col-12">
              <div class="text-center">
                <img class="newslatter-img mt-5 mt-lg-0" [src]="newslatter" alt="Mockup">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
