<section id="newsletter" class="pt-5 newsletter">
  <div class="section">
    <div class="container">
      <div class="row align-items-center px-4">
        <div class=" col-lg-6 col-md-12 col-12 d-flex justify-content-center"><!--col-lg-6 si hay el kickstarter-->
          <div class="image" data-aos="fade-right" data-aos-duration="2000">
            <h1 [translate]="'coming.unete'"></h1>
            <p class="p lead" [translate]="'coming.trabajando'"></p>
            <form action="https://formspree.io/f/xqkrblbn" method="POST" class="newsletter-form"> <input type="hidden"
                name="u" value="">
              <input type="hidden" name="id" value="">
<input type="email" name="email" id="email" [placeholder]="'coming.email' | translate">                <button type="submit" class="button"[translate]="'coming.suscribirse'"></button>
            </form>

          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 main-form py-5 " data-aos="fade-left" data-aos-duration="2000">
          <div class="px-2 py-5 text-center kickstarter">
            <h2 class=""[translate]="'coming.serParte'"></h2>
            <p class="p lead" [translate]="'coming.descubre'"></p>
            <a href="http://kck.st/3SgrB1l" target="_blank" class="btn btn-lg btn-light py-3 px-5 mt-4" [translate]="'coming.apoya'"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
